.talk-section {
    
    color: white; /* White text for contrast */
    padding: 60px 0; /* Adds vertical spacing */
  }
  
  .talk-section .col-lg-6 {
    padding: 20px;
  }
  
  .talk-section h2 {
    color: black;
    max-width: 500px;
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .talk-section p {
    color: black;
    font-size: 19px;
    line-height: 1.6;
    width: 25.1em;
  }

  .talk-book-now-btn {
    background-color: #FF8D50;
    color: white;
    width: 397px;
    height: 69px;
    font-size: 24px;  /* Adjust text size */
    border: none;
    border-radius: 234px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  @media (max-width: 768px) {
    .talk-section p {
      width: 20.1em;
    }

    .talk-book-now-btn {
      
      width: 343px;
    }
    
  }
  